## part 2 Add latitude and longitude to the dataframe

In [1]:
import numpy as np
import pandas as pd
#!pip install geocoder
import geocoder
df = pd.read_csv('Torronto.csv')

In [2]:
df.head(5)

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [4]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M1B')

[43.811525000000074, -79.19551746399998]

In [5]:
postcode = df['Postcode']

In [6]:
coordinate = [get_latlng(postcode) for postcode in postcode.tolist()]

In [8]:
df_coordinate = pd.DataFrame(coordinate,columns=['Latitude','Longitude'])
df_coordinate.head()

    Latitude  Longitude
0  43.811525 -79.195517
1  43.785665 -79.158725
2  43.765815 -79.175193
3  43.768369 -79.217590
4  43.769688 -79.239440

In [9]:
df['Latitude'] = df_coordinate['Latitude']
df['Longitude'] = df_coordinate['Longitude']
df.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.785665,-79.158725
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765815,-79.175193
3,M1G,Scarborough,Woburn,43.768369,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

## Or we can use the given csv file

In [10]:
!wget -q -O 'Toronto_long_lat_data.csv'  http://cocl.us/Geospatial_data
df_lon_lat = pd.read_csv('Toronto_long_lat_data.csv')
df_lon_lat.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476